*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    overflow-y: scroll;
}
body{
    overflow-x: hidden;
}
body::-webkit-scrollbar{
    width: 7px;
    background: white;
    opacity: 0.1;
}
body::-webkit-scrollbar-thumb{
    background-color: #00045B;
    border-radius: 5px;
}
p{
    font-weight: 300;
}

.barra_navegacion{
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #00045B;
    justify-content: center;
    align-items: center;
    transition: .5s;
}
.barra_navegacion.active{
    left: 0;
}

.nav-items{
    font-family: 'Oswald', sans-serif;
}
.banner{
    position: relative;
    width: 75%;
    height: 100%;
}
.fondo{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.nav-items{
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}
.nav-items ul{
    position: relative;
    width: 100%;
}
.nav-items ul li{
    position: relative;
    list-style: none;
    
}
.nav-items ul li a{
    font-size: 3em;
    font-weight: 500;
    color: rgb(199, 199, 199);
    text-decoration: none;
    margin: 5px 0;
    margin-left: 100px;
    display: inline-block;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.nav-items ul li a:hover{
    color: white;
	font-weight: bold;
}


.seccion{
    position: relative;
    left: 0;
    width: 100%;
    min-height: 100vh;    
    padding: 7rem 7rem;
    padding-bottom: 0;
    display: flex;   
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    transition: .5s;
}

.seccion.active{
    left: 100%;
}

.seccion.active .header{
    position: fixed;
    top: 0;
    left: 98%;
    transition: .5s;
    background: transparent;
}
.boton.active::after{
    background-color: white;
}
.boton.active::before{
    background-color: white;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    transition: .5s;
    background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255 , 1 ) 15%);
    z-index: 1;
}
.boton{
    position: relative;
    left: 0;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}
.boton.active{
    left: -200;
}
.boton::before {
    position: absolute;
    content: " ";
    width: 40px;
    height: 5px;
    background: #00045B;
    transform: translateY(-6px);
    transition: 0.5s;
    margin-bottom: 7px;
}
.boton::after {
    position: absolute;
    content: " ";
    width: 40px;
    height: 5px;
    background: #00045B;
    transform: translateY(6px) ;
    transition: 0.5s;
    margin-top: 7px;
}
.boton.active::before {
    transform: translateY(0px) rotate(45deg);
    left: -200px;
    margin-bottom: 0;
}
.boton.active::after {
    transform: translateY(0px) rotate(-45deg);
    left: -200px;
    margin-top: 0;
}
.btn{
    position: relative;
    background: #00045B;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    height: 3rem;
    color: white;
    text-decoration: none;
    border-radius: 15px;
}
.btn h4{
    font-family: 'Oswald', sans-serif;
    font-size: 26px;
    font-weight: normal;
}
.btn-cv{
    position: relative;
    background: #00045B;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    height: 3rem;
    color: white;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-size: 26px;
    border-radius: 15px;
    cursor: pointer;
    border: none;
}
.download-cv{
    text-decoration: none;
    color: white;
    display: block;
    width: 13rem;
}
.btn:hover{
    font-weight: bold;
    font-size: 25px
}
.contenedor-perfil{
    position: relative;
    display:flex;
    margin-bottom:4rem;
    padding-top: 2rem;
    align-items: center;
}
.seccion .contenedor-perfil .foto-perfil{
    position: relative;
    background-size: cover;
    min-width: 21rem;
    height: 22rem;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 0px 15px #090909;
    filter:grayscale(80%)
}
.contenedor-perfil .foto-perfil:hover{
    filter:none;
    box-shadow: 0px 0px 15px #0009b5;
    transition: .5s;
}
.foto-perfil img:hover{
    height: 23.5rem;
    width: 24rem;
    bottom: 0;
    transition: 1s;
}

.foto-perfil img:not(:hover){
    height: 22rem;
    width: 22rem;
    bottom: 0;
    transition: 1s;
}

.perfil-profesional h2{
    margin-bottom: 15px;
    font-family: 'Oswald', sans-serif;
    font-size: 2.5em;
    color: #00045B;
}
.perfil-profesional{
    position: relative;
    margin-left: 5rem;
    font-size: 22px;
    text-align: justify;
}
h2{
    margin-bottom: 15px;
    font-family: 'Oswald', sans-serif;
    font-size: 2.5em;
    color: #00045B;
}
.sobre_mi{
    position: relative;
    font-size: 22px;
    text-align: justify;
    padding-top: 6rem;
}
.habilidades{
    width: 100%;
    left: 0;
    position: relative;
    font-size: 22px;
    text-align: justify;
    padding-top: 6rem;
}
.habilidades ul li{
    list-style: none;
}
.slider-principal{    
    padding: 40px 0;
}
.slider-container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    align-items: center;
    gap: 1em;
} 
.slider-body{
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
    transition: opacity 1.5s;
    pointer-events: none;
    gap: 1em;
}
.slider-body--show{
    opacity: 1;
    pointer-events: unset;
}
.slider-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #f2f2f2;
    object-fit: cover;
}
.slider-arrow{
    cursor: pointer;
    width: 3em;
}
.proyectos{
    position: relative;
    font-size: 22px;
    text-align: justify;
    padding-top: 6rem;
}
.contenedor-proyectos{
    display: flex;
    overflow: hidden;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 3rem;
}
.carta{
    display: grid;
    grid-template-columns: 19rem;
    grid-template-rows: 240px 210px 80px;
    grid-template-areas: "imagen-carta" "texto-carta" "botones-carta";
    font-size: 20px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 4px 4px 11px rgba(0,0,0,0.9);
    text-align: center;
    transition: .5s;
    margin-top: 40px;
}
.imagen-carta-uno{
    grid-area: imagen-carta;/* 
    background: url("/img/clinica-mujer.png"); */
    background: url("../img/clinica-mujer.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-position: center;
}
.imagen-carta-dos{
    grid-area: imagen-carta;/* 
    background: url("/img/clinica-mujer.png"); */
    background: url("../img/portafolio.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-position: center;
}
.imagen-carta-tres{
    grid-area: imagen-carta;/* 
    background: url("/img/clinica-mujer.png"); */
    background: url("../img/hv.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-position: center;
}
.texto-carta{
    grid-area: texto-carta;
    margin: 20px;
}
.texto-carta h3{
    color: #00045B;
    font-family: "Oswald";
}
.botones-carta{
    grid-area: botones-carta;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #00045B;
}
.botones-carta .enlace{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    border-right: #000335 solid 1px;
    font-family: "Oswald";
}
.botones-carta .codigo{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    border-left: #000335 solid 1px;
    font-family: "oswald";
}
.carta:hover{
    transform: scale(1.1);
}
.foot{
    position: relative;
    display:flex;
    left: 0;
    padding: 20px 100px;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.foot.active{
    left: 100%;
}
.iconos-redes{
    position: relative;
    display: flex;
    align-items: center;
    list-style: none;
}

.iconos-redes li{
    margin-right:20px;
    opacity: 0.6
}
.iconos-redes li:hover{
    opacity: 1
}
.copyright{
    color:gray;
    opacity: .7;
}


@media (max-width: 900px){
    p{
        font-size: calc(1em + 1vw) 
    }
    .header{
        padding: 40px 50px;
    }
    .nav-items{
        width: auto;
    }
    .banner{
        width: 0;
    }
    .nav-items ul {
        width: none;
    }
    .nav-items{
        width: auto;
    }

    .nav-items ul li{
        margin-bottom: 4rem;
        text-align: center;

    }
    .nav-items ul li a{
        font-size: 4em;
        margin-left: 0;
        color: white;
    }
    .contenedor-perfil{
        flex-direction: column;
        justify-content: center;
        margin-top: 2.6rem;
        margin-bottom: 0;        
    }
    .seccion {
        padding: 4rem 4rem;
    }
    .seccion .contenedor-perfil .foto-perfil {
        width: 21rem;
        margin-left: auto;
        margin-right: auto;
        filter: none;
        margin-bottom: 2rem;
        margin-top: 1.5rem;
    }
    .boton.active::before {
        transform: translateY(0px) rotate(45deg);        
        left: -150px;
        margin-bottom: 0;
    }
    .boton.active::after {
        transform: translateY(0px) rotate(-45deg);       
        left: -150px;
        margin-top: 0;
    }
    .perfil-profesional {
        margin-left: 0;
    }
    .perfil-profesional h2 {
        text-align: center;
    }
    .btn-cv {
    margin: auto;
    }
    h2 {
        text-align: center;
    }
    .proyectos{
        padding-top: 7rem;
    }
    .contenedor-proyectos{
        flex-direction: column;
        overflow: visible;
    }
    .carta{
        grid-template-columns: 1fr;
        grid-template-rows: 500px 250px 160px;
        margin: 0;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .texto-carta h3{
        font-size: 2em;
    }
    .imagen-carta-uno{
        background-size: cover;
        background-position-y: center;
    }
    .imagen-carta-dos{
        background-size: cover;
        background-position-y: center;
    }
    .imagen-carta-tres{
        background-size: cover;
        background-position-y: center;
    }
    .botones-carta{
        grid-template-columns: 1fr;        
    }
    .botones-carta .enlace{
        grid-template-columns: 1fr;
        height: 80px;
        font-size: 1.5em;
        border-bottom: 1px solid #000335;
        border-right: none;
    }
    .botones-carta .codigo{
        height: 80px;
        font-size: 1.5em;
        border-top: 1px solid #000335;
        border-left: none;
    }
    .carta:hover{
        transform: none;
    }
}


/*responsive moviles grandes*/

@media (max-width: 550px)
{
    p{
        font-size: calc(1em + 1vw) 
    }
    .seccion{
        flex-direction: column;
        padding: 40px;
        justify-content: center;
    }
    .header{
        padding: 40px 40px;
    }
    .contenedor-perfil{
        flex-direction: column;
        justify-content: center;
        margin-top: 2.6rem;
        margin-bottom: 0;
        
    }
    .seccion .contenedor-perfil .foto-perfil{
        width: 21rem;
        margin-left: auto;
        margin-right: auto;
        filter: none;
        margin-bottom: 2rem;
        margin-top: 1.5rem;
    }
    .contenedor-perfil .perfil-profesional{
        margin: 0
    }
    .banner{
        width: 0;
    }
    .nav-items ul {
        width: none;
    }
    .nav-items{
        width: auto;
    }

    .nav-items ul li{
        margin-bottom: 4rem;
        text-align: center;

    }
    .nav-items ul li a{
        font-size: 4em;
        margin-left: 0;
        color: white;
    }
    .btn {
        background: #00045B;
        width: 0;
        height: 4rem;
        color: white;
    }
    .btn h4{
        display: none;
    }
    .btn img{
        width: 4rem;
        margin:0;
        margin-right: 4.5rem;
    }
    .boton::before {
        width: 40px;
        height: 4px;
        margin-bottom: 10px;
    }
    .boton::after {
        width: 40px;
        height: 4px;
        margin-top: 10px;
    }
    .boton.active::before {
        transform: translateY(0px) rotate(45deg);        
        left: -150px;
        margin-bottom: 0;
    }
    .boton.active::after {
        transform: translateY(0px) rotate(-45deg);       
        left: -150px;
        margin-top: 0;
    }
    .perfil-profesional{
        text-align: justify; 
    }
    .perfil-profesional h2{
        text-align: center;
        font-size: 2.5em;
    }
    .btn-cv{
        width: 20rem;
        height: 4rem;
        margin-left: auto;
        margin-right: auto;
        font-size: 36px;
    }
    h2{
        text-align: center;
    }
    .sobre_mi{
        padding-top: 7rem;
    }
    .habilidades{
        padding-top: 7rem;
    }
    .habilidades ul li{
        list-style: none;
    }
    .proyectos{
        padding-top: 7rem;
    }
    .contenedor-proyectos{
        flex-direction: column;
        overflow: visible;
    }
    .carta{
        grid-template-columns: 1fr;
        grid-template-rows: 370px 250px 120px;
        margin: 0;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .texto-carta h3{
        font-size: 2em;
    }
    .imagen-carta-uno{
        background-size: cover;
        background-position-y: center;
    }
    .imagen-carta-dos{
        background-size: cover;
        background-position-y: center;
    }
    .imagen-carta-tres{
        background-size: cover;
        background-position-y: center;
    }
    .botones-carta{
        grid-template-columns: 1fr;        
    }
    .botones-carta .enlace{
        grid-template-columns: 1fr;
        height: 60px;
        font-size: 1.5em;
        border-bottom: 1px solid #000335;
        border-right: none;
    }
    .botones-carta .codigo{
        height: 60px;
        font-size: 1.5em;
        border-top: 1px solid #000335;
        border-left: none;
    }
    .carta:hover{
        transform: none;
    }
    .foot {
        padding: 22px 100px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
    .copyright {
        margin-top: 25px;
    }
}

/* responsive moviles pequeños */

@media (max-width: 380px){
    .banner {
        width: 0;
    }
    .nav-items ul li {
        margin-bottom: 2rem;
        text-align: center;
    }
    .nav-items ul li a {
        font-size: 3em;
        margin-left: 0;
        color: white;
    }
    .boton.active::before {
        transform: translateY(0px) rotate(45deg);
        left: -120px;
    }
    .boton.active::after {
        transform: translateY(0px) rotate(-45deg);
        left: -120px;
    }

    .seccion {
        padding: 20px;
    }
    .header {
        padding: 20px 30px;
    }

    .seccion .contenedor-perfil .foto-perfil {
        width: 17rem;
        min-width: 17rem;
        height: 17rem;
        padding-left: 17px;
    }
    .foto-perfil img:not(:hover) {
        height: 17.5rem;
        width: 14.5rem;
    }
    .foto-perfil img:hover {
        display: none;
    }
    .perfil-profesional h2 {
        font-size: 2em;
    }
    .contenedor-perfil {
        margin-top: 1.3rem;
        margin-bottom: 0;        
    }
    .sobre_mi {
        padding-top: 4.5rem;
    }
    h2 {
        font-size: 2em;
    }
    .habilidades {
        padding-top: 4.5rem;
    }
    .proyectos {
        padding-top: 4.5rem;
    }
    .carta {
        grid-template-rows: 300px 270px 100px;
    }
    .botones-carta .codigo {
        border-top: 1px solid #000335; 
        border-left: none; 
        height: 50px;
        font-size: 1.5em;
    }
    .botones-carta .enlace {
        border-bottom: 1px solid #000335;
        border-right: none; 
        height: 50px;
        font-size: 1.5em;
    }
    .foot {
        padding: 22px 100px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
    .copyright {
        margin-top: 15px;
    }
}